<configuration>

    <!-- Allgemeine Applikationslogs -->
    <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app/app.%d{yyyy-MM-dd}.log</fileNamePattern>
             <!-- <maxHistory>30</maxHistory> weglassen -->
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Fehlerlogs -->
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error/error.%d{yyyy-MM-dd}.log</fileNamePattern>
             <!-- <maxHistory>30</maxHistory> weglassen -->
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Meldungen Booking -->
    <appender name="BOOKING_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/booking/booking.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/booking.booking.%d{yyyy-MM-dd}.log</fileNamePattern>
             <!-- <maxHistory>30</maxHistory> weglassen -->
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Datenbank Meldungen -->
    <appender name="DATABASE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/database/database.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/database/database.%d{yyyy-MM-dd}.log</fileNamePattern>
             <!-- <maxHistory>30</maxHistory> weglassen -->
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="APP"/>
    </root>

    <!-- Fehler separat loggen -->
    <logger name="org.springframework" level="ERROR" additivity="false">
        <appender-ref ref="ERROR_LOG"/>
    </logger>

</configuration>
